
body {
  font-family: Roboto, sans-serif;
}

.container {
  padding: 0 40px;
  margin-left: 800px;
}

h1 {
  font-size: 50px;
  color: #ffffff;
}

h2 {
  font-size:35px;
  margin: 30px 0;
  color: #ffffff;
}

h3 {
  font-size:35px;
  margin: 30px 0;
  color: #ffffff;
}

.photo {
  border-radius: 200px;

  border: 2px solid transparent;

  box-shadow: 0 2px 15px 0px rgb(253, 253, 253);
  object-fit: cover;
  
    padding: 0 0;
    margin-left: 50px;
  
}

.photo:hover {
  border: 2px solid #ffffff;
}

a {
  display: block;
  text-decoration:none;
  margin-bottom: 30px;
  position: relative;
}

a:hover {
  color:rgb(255, 255, 255);
}



html {

  background-image: url(1464080747173079104.jpg);
  
  background-repeat: no-repeat;
  
  background-position: center center;
  
  background-attachment: fixed;
  
  -webkit-background-size: cover;
  
  -moz-background-size: cover;
  
  -o-background-size: cover;
  
  background-size: cover;
}

.links__header {
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
  color: #ffffff;
}



.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #0969da;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

progress {
  vertical-align: baseline;
}